.container {
	max-width: 1024px;
	margin: auto;
	padding-block: 3rem;
	font-family: sans-serif;
}

.container h2 {
	font-size: 1.75rem;
	font-weight: 600;
}

.container p {
	font-size: 1rem;
	font-weight: 400;
}

/* buttons */
.container .buttons {
	margin: 2rem auto 0 0;
	display: flex;
	gap: 2rem;
}

.container .button,
.container a {
	all: unset;
	font-size: 1rem;
	font-weight: 400;

	background-color: #e1e1e1;

	border: none;
	border-radius: 6px;
	padding-inline: 2rem;
	padding-block: 0.5rem;

	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.container .button:hover,
.container a:hover {
	background-color: #cacaca;
}

@media screen and (min-width: 1024px) {
	.container h2 {
		font-size: 3rem;
	}

	.container p {
		font-size: 1.125rem;
	}
}
